<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/css/checkout.css">
    
    <title>Checkout</title>
</head>
<body>
    <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>
        <section>
            <div class="gallery">
                <div class="card">
                    Card1
                </div>
                <div class="card">
                    Card2
                </div>
                <div class="card">
                    Card3
                </div>
                <div class="card">
                    Card4
                </div>
            </div>
            
        </section>
        <section>
            <div class="modal">
                <form class="form">
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                                <g>
                                </g>
                    <div class="credit-card-info--form">
                        <div class="input_container">
                            <label for="password_field" class="input_label">Card holder full name</label>
                            <input id="password_field" class="input_field" type="text" name="input-name" title="Inpit title"
                                placeholder="Enter your full name">
                        </div>
                        <div class="input_container">
                            <label for="password_field" class="input_label">Card Number</label>
                            <input id="password_field" class="input_field" type="number" name="input-name" title="Inpit title"
                                placeholder="0000 0000 0000 0000">
                        </div>
                        <div class="input_container">
                            <label for="password_field" class="input_label">Expiry Date / CVV</label>
                            <div class="split">
                                <input id="password_field" class="input_field" type="text" name="input-name" title="Expiry Date"
                                    placeholder="01/23">
                                <input id="password_field" class="input_field" type="number" name="cvv" title="CVV"
                                    placeholder="CVV">
                            </div>
                        </div>
                    </div>
                    <button class="purchase--btn" id="checkout">Checkout</button>
                </form>
            </div>
        </section>
        <script src="/assets/js/checkout.js"></script>
</body>
    
</html>
{{!-- test key for testing
stripe 
https://stripe.com/docs/payments/checkout
--}}

{{!-- tailwind 
https://tailwind-elements.com/docs/standard/components/carousel/
https://codepen.io/search/pens?q=carousel
--}}
