<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/assets/css/style.css" />
  <title>Store</title>

<body>

  <div class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" alt="">
          </a>
        </div>
        <div class="hidden lg:flex lg:gap-x-12">
          <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Contact Us</a>
        </div>
        <button id="box">Login</button>


      </nav>
    </header>

    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        aria-hidden="true">
        <div
          class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
          style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
      </div>
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">For Software Creators</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">Elevate Your Development Setup with Precision and Performance.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <button class="button type1" id="showFormBtn"></button>
          <div id="formContainer" style="display: none;" class="signup-form">
            <div style="display: none;" id="signupContainer">
              <form class="form border-dashed border-2 border-sky-500">
                <p class="title">Register </p>
                <p class="message">Signup now and get full access to our app. </p>
                <div class="flex">
                  <label>
                    <input required="" placeholder="" type="text" class="input" id="first">
                    <span>Firstname</span>
                  </label>
                  <label>
                    <input required="" placeholder="" type="text" class="input" id="last">
                    <span>Lastname</span>
                  </label>
                </div>

                <label>
                  <input required="" placeholder="" type="email" class="input" id="email">
                  <span>Email</span>
                </label>

                <label>
                  <input required="" placeholder="" type="password" class="input" id="password">
                  <span>Password</span>
                </label>
                <button class="submit" type="submit">Submit</button>
                <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
              </form>
            </div>



            {{!-- Login form --}}

            <div id="loginContainer" style="display: none;" class="login-form">
              <form class="form border-dashed border-2 border-sky-500">
                <p class="title">Login </p>
                <div class="flex">
                  <label>
                    <input required="" placeholder="" type="email" class="input" id="loginEmail">
                    <span>Email</span>
                  </label>
                  <label>
                    <input required="" placeholder="" type="password" class="input" id="loginPassword">
                    <span>Password</span>
                  </label>
                  <button class="submit" id="loginBtn">Submit</button>
              </form>
            </div>
          </div>
          <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
            aria-hidden="true" style="height: 100vh; margin-top: 15%;">
            <div
              class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
              style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
          </div>

        </div>

      </div>

</body>
<script src="/assets/js/script.js"></script>
<script src="/assets/js/login.js"></script>

</html>