<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/css/products.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <h1>Logo</h1>
            <ul>
                <li><a href="">Monitors</a></li>
                <li><a href="">Keyboards</a></li>
                <li><a href="">Headset</a></li>
                <li><a href="">Mice</a></li>
            </ul>
            <a href="#" id="contact-nav"><button>Contact</button></a>
        </nav>
    </header>

    <section>
        <h1>Monitors</h1>

        <div class="product-container">
            <div class="product-card-m">
                <div class="product-image">
                    <img src="https://i.redd.it/pft4ldryozm51.jpg"
                        alt="">
                </div>
                <div class="product-info">
                    <p class="product-short-des">product description here..</p>
                    <span class="price">$$</span>
                </div>
                <div class="mt-6 flex justify-center">
                    <button class="cta" id="checkout">
                        <a href="/checkouts">
                            <span class="hover-underline-animation">Shop now</span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg" id="arrow-horizontal">
                            </svg>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>

    <h1>Keyboards</h1>


    {{!-- another card --}}
    {{#each products as |product|}}
    <div>
        <h1>{{product.product_name}}</h1>
        <p>{{product.price}}</p>
        <p>{{product.category.category_name}}</p>
    </div>
    {{/each}}
</body>


</html>
{{!--
<script src="/assets/js/checkout.js"></script> --}}